body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding: 0;
}

li {
  text-align: left;
  list-style: none;
  padding: 8px;
}

.selected {
  color: #add43c;
  background-color: #485074;
}

.Main {
  float: right;
  width: 70%;
  color: #485074;
  text-align: left;
  margin-right: 10px;
}

.Left-nav {
  float: left;
  margin-left: 10px;
  width: 25%;
  color: rebeccapurple;
  background-color: cadetblue;

}